body{
    background-image: url("background_28.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Silkscreen', 'sans-serif';
    color: whitesmoke;
    margin: 0;
}

.page-title {
    padding: 5%;
    margin: 0;
}

.content-background {
    padding: 5% 10% 15% 10%;
    background-color: rgba(0,0,0,0.5);
}

.about-me {
    text-align: center;

}

/* Navigaton Bar */
.navbar {
    overflow: hidden;
    top: 0;
    width: 100%;
    font-size: 1.3rem;
    z-index: 100;
}

.navbar a {
    float: right;
    color: whitesmoke;
    text-decoration: none;
    padding: 0.5rem;
    margin: 0.5rem;
}

.navbar a:hover {
    color: rgb(170, 222, 247);
}

.navbar a:active {
    color: rgb(161, 231, 240);
}

h2 {
    font-size: 3rem;
    text-align: center;
    padding-top: 5%;
    margin: 0;
}
  
p {
    text-align: center;
    margin: 8%;
}

#about-section {
    background-color: rgba(0,0,0,0.8);
    padding: 2.5% 10% 10% 10%;
    z-index: 1;
}

h3 {
    font-size: 2rem;
    text-align: left;
}

h3 a:link {
    color: whitesmoke;
    text-decoration: none;
}

h3 a:hover {
    color: rgb(170, 222, 247);
    text-decoration: none;
}

h4 {
    font-size: 1.5rem;
    text-align: center;
}

/* Hobbies & Interests */
ol a:link {
    color: whitesmoke;
    text-decoration: none;
}

ol a:hover {
    color: rgb(170, 222, 247);
    text-decoration: none;
}

/* Footer */
.footer {
    bottom: 0;
    width: 100%;
    padding: 10% 0 10% 0;
    font-family: 'Silkscreen', 'sans-serif';
    text-align: center;
    z-index: 9;
}

.footer a:link {
    color: whitesmoke;
    text-decoration: none;
    font-size: 1.2rem;
    z-index: 9;
}

.footer a:hover {
    color: rgb(125, 209, 215);
    text-decoration: underline;
    z-index: 9;
}

/* 404 Page */
h1 {
    font-family: 'Silkscreen', 'sans-serif';
    color: whitesmoke;
    font-size: 10rem;
    text-align: center;
    padding: 10vh;
}

.error-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}   

.error-message {
    font-family: 'Silkscreen', 'sans-serif';
    color: whitesmoke;
    font-size: 1.5rem;
    text-align: center;
}

.error-message a:link {
    color: rgb(35, 122, 190);
    background-color: transparent;
    text-decoration: none;
}

.error-message a:hover {
    color: rgb(125, 209, 215);
    background-color: transparent;
    text-decoration: underline;
}



/*

Boxes
* {
    box-sizing: border-box;
  }

#recentProject .column {
    float: left;
    width: 33.33%;
    padding: 50px;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
}

#recentResearch .column {
    float: left;
    width: 100%;
    padding: 20px;
    text-align: center;
    font-size: 1rem;
    cursor: pointer;
}

.projectTab {
    padding: 50px;
}

/* Clear floats after the columns
.row:after {
    content: "";
    display: table;
    clear: both;
}
    */

/* Closable button inside the container tab
.closebtn {
    float: right;
    font-size: 2rem;
    cursor: pointer;
}
*/
  
